@page "/board"

<h1>Board</h1>

<table id="board">
    <tr>
        <th class="padColOne" style="background-color: @color"><button @onclick="Click">Overtime</button></th>
        <th>Cafe<br>(Coffee)</th>
        <th>Staples <br> (USB Sticks)</th>
    </tr>
    <tr>
        <th>Field<br>(Bitcoin Investment)</th>
        <th></th>
        <th>Factory<br>(CPU Cores)</th>
    </tr>
    <tr>

        <th>Training<br>Center</th>
        <th>Overclocking Stack</th>
        <th>Power Plant<br>Power</th>
    </tr>
    <tr>
        <th>License Tiles</th>
        <th></th>
        <th>Con Card</th>
        <th>Con Card</th>
        <th>Con Card</th>
        <th>Con Card</th>
    </tr>
    <tr>
        <th>License Tiles</th>
    </tr>
    <tr>
        <th>License Tiles</th>
    </tr>
    <tr>

        <th>License Tiles</th>
        <th>Player Name</th>
        <th></th>
    </tr>
</table>

@code {
    private ElementReference button1;
    private string color;

    public void Click()
    {
        var random = new Random();

        var vrcolor = String.Format("#{0:X6}", random.Next(0x1000000));

        color = vrcolor;
    }

}