@page "/board"

<h1>Board</h1>

<div class="row">
    <div class="column">
        <h1>Column 1</h1>
        <div class="rectangle">Overtime</div>
        <div class="rectangle">Field <br> (Bitcoin Investment)</div>
        <div class="rectangle">Training Center</div>
        <div class="rectangle">License Tiles</div>
        <div class="rectangle">License Tiles</div>
        <div class="rectangle">License Tiles</div>
        <div class="rectangle">License Tiles</div>
    </div>
    <div class="column">
        <h1>Column 2</h1>
        <div class="rectangle">Cafe <br> (Coffee)</div>
        <div class="rectangle">Overclocking <br> Stack</div>
        <div class="rectangle">Player Name</div>
    </div>
    <div class="column">
        <h1>Column 3</h1>
        <div class="rectangle">Staples <br> (USB Sticks)</div>
        <div class="rectangle">Factory <br> (CPU Cores)</div>
        <div class="rectangle">Power Plant <br> (Power)</div>
    </div>
</div>

@code {
    
}