@page "/"

<h1>Hello, world!</h1>

Welcome to your new app.

<p>@fish.Name @fish.Weight</p>

<p>
    This is a nav link -- <NavLink href="/counter">Navigate 2</NavLink><br />
</p>

<SurveyPrompt Title="How is Blazor working for you?" />

@code
{
    
    
    Fish fish = new Fish();
}