@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');

html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    height: 100%;
    background-color: #6B8175;
}

a, .btn-link {
    color: #0366d6;
}

.btn-primary {
    color: #fff;
    background-color: #6B8175;
    border-color: #43304c;
}

.scrum-container {
    color: black;
    width: 50%;
    margin: 0 auto;
    text-align: center;
    background-color: #C7D3AF;
    border: 3px solid #43304c;
    z-index: 4;
}

.scrum-button {
    width: 75%;
    height: 135px;
    border: 3px solid #43304c;
    background-color: #0044;
    transition-duration: 0.4s;
}

.scrum-overlay {
    width: 30%;
    height: 100%;
    position: absolute;
    right: 0px;
    border-left: 3px solid #43304c;
    background-color: #0044;
}

.scrum-resource-card {
    padding: 5px;
    height: 100%;
    width: 50%;
    text-align: left;
    border: none;
    display: inline-block;
    float: right;
}

.top-row {
    background-color: #C7D3AF;
    border-bottom: 1px solid #43304c;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

.content {
    padding-top: 0rem;
}

.valid.modified:not([type=checkbox]) {
    outline: 1px solid #26b050;
}

.invalid {
    outline: 1px solid red;
}

.validation-message {
    color: red;
}

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

    #blazor-error-ui .dismiss {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }
