.column[b-kb93bnuiiw] {
    column-width: 200px;
    column-gap: 2em;
    min-width: 100px;
    float: left;
    padding: 20px;
    display: inline-block;
}

.rectangle[b-kb93bnuiiw] {
    position: relative, absolute;
    margin-left: 10px;
    width: 200px;
    height: 100px;
    border: 1px solid #000;
    border-spacing: 15px;
}

.padColOne[b-kb93bnuiiw]
{
    padding: 5px;
}

/* Clear floats after the columns */
.row[b-kb93bnuiiw]:after {
    
    content: "";
    display: table;
    column-rule: 4px double #0026ff;
}
