@namespace GameboardComponents
@using BlazorUI.Pages
@using GameLibrary.Models.Locations
@using GameLibrary.Models
@using GameLibrary.Interfaces
@using static GameLibrary.Services.GameController
@using static BlazorUI.Pages.Board

<div>
    <! --- We need to make placeholders for number of players -->


</div>




<style>
       #wrapperBox
       {
           width: 300px;
           height: 150px;
           background: blue;
           display: inline-block;
       
       }
</style>



@code {

}
